__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
tests/.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.sqlite3
*.db
!data/raw/
!data/processed/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Temp files
*.log
logs/
reports/
tmp/
